<div class="common_form_wrapper">
  <div>
    {{ form.exam_id }}
    {{ form.start_date }}
    
  </div>
  <div>
    {{ form.location }}
    {{ form.email }}
    
  </div>
</div>
{{ form.submit }}

{{ form.form_build_id }} {# required #}
{{ form.form_token }}{# required #}
{{ form.form_id }} {# required #}
{{ form.actions }} {# will render the action buttons in the form #}